<h4>Category: {{category.category}}</h4>

<ul>
  {{#each sortedListings as |listing|}}
    <li>{{listing-image listing}} {{#link-to 'listing' listing.id}}{{listing.title}}{{/link-to}}</li>
  {{/each}}
</ul>
